.th-name {
	width: 230px;
}
.th-value{
	width: 85px;
}
.th-date{
	width: 85px;
}
.th-recorrent{
	width: 60px;
}

.th-option {
	width: 67px;
}
.lbl-items-page{
	font-weight: normal;
	font-size: 12px;
}
.inpt-name{
	width: 100%;
}

.inpt-rec{
	width: 35px;
}
.row-form {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.row-form * {
	margin: 2px 2px;
}
.inpt-status{
	width: 70px;
}
